
<title>Shared Function App </title>
<div class="container"> <div class="row"> <div class="span4">

      <h2>Shared Function App</h2>
      


    <h2>  <p>All your functions here</p> </h2>
    <%= form_tag("/functions/add", :method=>"post") do %> 
    <%= text_field_tag(:function_test) %>
     <%= submit_tag("Add function", :class=>"btn") %></br>
     
      <% end %>
      
<div class="well">

        <% @function.each do |t| %>
      <h4>   <li> <%= t.function %> </li> </h4>
        <% end %>
      
</div> <!-- well --> </div> <!-- span4 --> </div> <!-- row --> </div> <!-- container -->

